<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title></title>
    <script src="JS/main.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header"></div>
      <div class="body">
        <div class="landing">
            <img src="" alt="Main Logo" class="logo-large">
          <p>
            At Once Upon a Clean we're dedicated to making sure you have the
            fairytale cleaning experience of a lifetime.
          </p>
          <p>
            Once Upon a Clean places impeccable service to our customers at the
            absolute forefront of everything we do. From personalized customer
            care to flexible service packages, we are able to provide customer
            service that is unsurpassed in our industry.
          </p>
        </div>
        <div class="main-cont">
          <div class="product">
            <h2>Weekly Cleans</h2>
            <button>Book Now</button>
          </div>
          <div class="product">
            <h2>Biweekly Cleans</h2>
            <button>Book Now</button>
          </div>
          <div class="product">
            <h2>Monthly Cleans</h2>
            <button>Book Now</button>
          </div>
          <div class="product">
            <h2>As Needed Cleans</h2>
            <button>Book Now</button>
          </div>
        </div>
      </div>
      <div class="footer">
          <div class="contact">
              <p>For more information on additional services or to speak to someone please feel free to contact us using the link below.</p>
              <button>Contact Us!</button>
          </div>
          <p>Copyright © Once Upon A Clean, LLC</p>
      </div>
    </div>
  </body>
</html>
